<meta charset="utf8">
<meta name="">

<base href="/">
<title>Informate - recall what you read</title>
<link rel="stylesheet" href="/css/bootstrap.css">
<link rel="stylesheet" href="/css/starter-template.css">